body {
  font-family: "Coming Soon", cursive;
  font-family: "Gentium Plus", serif;
  font-family: "Truculenta", sans-serif;

  color: aliceblue;
}

#welcome {
  font-size: 80px;
  padding: 0%;
  position: relative;
  margin: 100px 400px 0px 0em;
}

.log-out {
  margin: 15px 16px 0px 1450px;
  padding: 0;
  width: 10%;
}

.log-out a:hover {
  color: rgb(255, 255, 255);
}
